<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Gandhi</title>
</head>
<body>
    <nav id="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>

  <div id="about">
    <h1>A short biography on Mahatma Gandhi</h1>


    <p>
       Gandhiji’s full name was Mohandas Karamchand Gandhi. He was born on October 2,
       1869 in a town called Poxbandar, Gujarat. He was the architect of India’s freedom
       and one of the greatest men of this century. Mahatma Gandhi’s life was dedicated
       to the ideals of truth, non-violence and love.
    </p>

    <p>
       Young Gandhi had his primary education up to the seventh year at Porbandar. 
       Then his education continued at Rajkot. Once an Inspector of Schools visited the school. 
       The teacher dictated some English words. Gandhiji had spelt the word ‘Kettle’ incorrectly. 
       The teacher noticed this, and made signs to Gandhiji to correct it by copying from his neighbour. 
       But Gandhiji did not do so. He also felt that the same teacher, 
       who had taught him that copying was bad, was not right in prompting him to do so. 
       Still, the respect he had for his teacher did not grow less. 
       When Mahatma Gandhi was only nineteen years old, he went to England to become a barrister. 
       He obtained the degree of Barrister-at-Law and started practising law in South Africa.
    </p>

    <p>
       Once he had to make a journey by train,, so he bought a first-class ticket. 
       During the journey, an officer of the railway asked him to vacate his seat for a white man, 
       and to move to the van on the train. Mahatma Gandhi refused. The railway officials, 
       with the help of the police, had his things thrown out. He was also removed from the carriage by force. 
       Thus Gandhiji was subject to untold shame. This incident transformed him. 
       Gandhi started an organisation and called it ‘The Natal Indian Congress’. 
       It was to carry on the struggle of the Indians against racial discrimination. 
       He also started a newspaper called ‘The Indian Opinion’. 
       The paper became an organ to give information about the struggle.
    </p>

    <p>
       Mahatma Gandhi stayed on in South Africa for nearly 21 years to fight against racial discrimination against Indian settlers. 
       He propagated the concept of Satyagraha (satya means truth and agraha firmness). 
       It was the use of ‘Soul-Force’ against ‘Brute-Force’ or violence.
    </p>

    <p>
       He trained men, women and children as volunteers. He called his band a ‘Peace Brigade’. 
       He won his battle when, finally, the South African Government gave in to his demands. 
       Gandhi now became a world-renowned person. He soon earned the title of ‘Mahatma’ (maha means great and atma means soul) 
       among Indians all over the world.
    </p>

    <p>
       Gandhiji came back to India in 1915 and built an ashram on the banks of the Sabaramati river near Ahmadabad. 
       It was called ‘Satyagraha Ashram’. The way of life that he practised there was known as ‘Sarvodaya’ 
       the well-being of all. He fought peacefully for many causes and succeeded in persuading the government 
       to abolish many abuses against labourers in Bihar, the Kaira peasants in Gujarat, etc.
    </p>

    <p>
        attribution : <a href="https://www.preservearticles.com/short-biographies/mahatma-gandhi-biography-in-english/877">www.preservearticles.com</a>
    </p>
  </div>  

</body>
</html>