<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Gandhi</title>
</head>
<body>
    <nav id="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>

    <div id="home">
        <h1>A short Story about Gandhi</h1>
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Gandhi_reading_his_correspondence_whilst_living_in_seclusion_after_being_released_from_prison.jpg/1920px-Gandhi_reading_his_correspondence_whilst_living_in_seclusion_after_being_released_from_prison.jpg" alt=""> -->
    </div>
</body>
</html>