<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Gandhi</title>
</head>
<body>
    <nav id="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>
    <h1>Works</h1>

        <ul id ="works">
            <li><a title="Mohandas Karamchand Gandhi
                , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Hind_Swaraj_or_Indian_Home_Rule.djvu"><img width="256" alt="Hind Swaraj or Indian Home Rule" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Hind_Swaraj_or_Indian_Home_Rule.djvu/page1-412px-Hind_Swaraj_or_Indian_Home_Rule.djvu.jpg"><br>Hind Swaraj or Indian Home Rule,1908,<br>reed. 1919<br><br></a></li>
            <li><a title="Mohandas Karamchand Gandhi
                , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Indian_Home_Rule_by_Mohandas_K._Gandhi.djvu"><img width="256" alt="Indian Home Rule by Mohandas K. Gandhi" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Indian_Home_Rule_by_Mohandas_K._Gandhi.djvu/page1-381px-Indian_Home_Rule_by_Mohandas_K._Gandhi.djvu.jpg"><br>Indian Home Rule, 1908, 5th edition,<br>1922<br><br></a></li>
            <li><a title="Mohandas Karamchand Gandhi
                , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Gandhi_-_Third_class_in_Indian_railways.djvu"><img width="256" alt="Gandhi - Third class in Indian railways" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Gandhi_-_Third_class_in_Indian_railways.djvu/page1-380px-Gandhi_-_Third_class_in_Indian_railways.djvu.jpg"><br>Third Class in Indian Railways, 1917<br><br><br></a></li>
            <li><a title="Mohandas Karamchand Gandhi
                , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Mahatma_Gandhi,_his_life,_writings_and_speeches.djvu"><img width="256" alt="Mahatma Gandhi, his life, writings and speeches" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Mahatma_Gandhi%2C_his_life%2C_writings_and_speeches.djvu/page1-398px-Mahatma_Gandhi%2C_his_life%2C_writings_and_speeches.djvu.jpg"><br>Mahatma Gandhi, his life, writings and<br>speeches, 1917<br><br></a></li>
            <li><a title="Mohandas Karamchand Gandhi
                , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Hindu_widow_re-marriage_and_other_tracts.djvu"><img width="256" alt="Hindu widow re-marriage and other tracts" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Hindu_widow_re-marriage_and_other_tracts.djvu/page1-385px-Hindu_widow_re-marriage_and_other_tracts.djvu.jpg"><br>Hindu widow remarriage and other<br>tracts, 1920<br><br></a></li>
            <li><a title="Mohandas Karamchand Gandhi
                , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Guide_to_health.djvu"><img width="256" alt="Guide to health" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Guide_to_health.djvu/page1-398px-Guide_to_health.djvu.jpg"><br>A Guide to Health, 1921<br><br><br></a></li>
            <li><a title="Mohandas Karamchand Gandhi
                , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Gandhi_-_Freedom%27s_battle.djvu"><img width="256" alt="Gandhi - Freedom&#039;s battle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Gandhi_-_Freedom%27s_battle.djvu/page1-387px-Gandhi_-_Freedom%27s_battle.djvu.jpg"><br>Freedom's battle, being a comprehensive<br>collection of writings and speeches on<br>the present situation, 1922</a></li>
            <li><a title="Mohandas Karamchand Gandhi
                , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Speeches_And_Writings_MKGandhi.djvu"><img width="256" alt="Speeches And Writings MKGandhi" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Speeches_And_Writings_MKGandhi.djvu/page9-392px-Speeches_And_Writings_MKGandhi.djvu.jpg"><br>Speeches and Writings of M. K. <br>Gandhi, 1922<br><br></a></li>
            <li><a title="Mohandas Karamchand Gandhi
                , Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Gandhi_-_The_Wheel_of_fortune.djvu"><img width="256" alt="Gandhi - The Wheel of fortune" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Gandhi_-_The_Wheel_of_fortune.djvu/page1-390px-Gandhi_-_The_Wheel_of_fortune.djvu.jpg"><br>The Wheel of fortune, 1922<br><br><br></a></li>
        </ul>

</body>
</html>